<p>Hola {{name}}, </p>
<p>Esto es para notificarle que ha comenzado su período de prueba gratuito de {{freeTrialDays}} días.</p>
<p>Puede disfrutar de nuestros servicios gratuitos durante {{freeTrialDays}} días, después de eso se le cobrará
    ${{amount}} por {{interval}}.</p>
<br>
<b>NOTA: Este es un correo electrónico generado automáticamente, no responda.</b>
<br>
<p></p>Un cordial saludo,
<br>
Equipo Quick Test