<p>Hi {{ name }},</p>
<p>This is to notify that your free trial period for {{freeTrialDays}} days is started .</p>
<p>You can enjoy our free services for {{freeTrialDays}} days after that you will be charged ${{amount}} per
    {{interval}}.</p>
<b>NOTE: This is an auto generated email, Please do not reply.</b>
<br>
<p></p>Warm Regards,
<br>
Quick Test Team