<p> مرحبًا {{name}} ، </p>
<p> هذا لإعلامك ببدء الفترة التجريبية المجانية لمدة {{freeTrialDays}} يومًا. </ p>
<p> يمكنك الاستمتاع بخدماتنا المجانية لمدة {{freeTrialDays}} يومًا بعد ذلك ، سيتم تحصيل {{amount}} دولارًا {{interval}}
    منك. </ p>
    <br>
    <b> ملاحظة: هذا بريد إلكتروني تم إنشاؤه تلقائيًا ، يرجى عدم الرد. </ b>
        <br>
        <p> </p> تحياتي الحارة ،
        <br>
        فريق Quick Test